@import "./src/variables-and-mixins";

.login-component {
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content;

  > .login-contents {
    background-color: #FFF;
    width: 400px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);

    > .login-header {
      border-radius: 4px 4px 0 0;
      background-color: $main-color;
      text-align: center;
      padding: 20px;
      color: #FFFFFF;
      font-size: 21px;
      font-weight: 400;
    }
    > .login-body {
      display: grid;
      grid-template-rows: min-content auto min-content;

      > .login-text {
        justify-self: center;
        text-align: center;
        color: #929292;
        margin: 40px 0 0;
        padding-bottom: 7px;
        width: 110px;
        border-bottom: 0.5px solid #d6d6d6;
      }
      > .login-form {
        padding: 40px;

        button {
          width: 100%;
          height: 42px;
        }
      }
    }
  }
}
