<div class="profile-wrapper">
  <div class="section-divider">
    MINHA CONTA <hr>
  </div>

  <div class="data-card">
    <div class="d-card-title">NOME:</div>
    <div class="d-card-description">{{accountModel?.name | textPlaceholder}}</div>
  </div>

  <div class="data-card">
    <div class="d-card-title">EMAIL:</div>
    <div class="d-card-description">{{accountModel?.email | textPlaceholder}}</div>
  </div>
</div>
