.profile-wrapper {
  margin: 50px auto;
  width: 500px;

  .section-divider {
    margin: 42px 0;
  }
  .data-card {
    background-color: #FFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 26px;
    padding: 10px 14px;
    border-radius: 3px;

    .d-card-title {
      font-weight: 600;
      font-size: 11px;
      color: #929292;
      margin-bottom: 5px;
    }
  }
  button {
    width: 100%;
    height: 42px;
    font-size: 16px;
    margin-top: 16px;
  }
}
