@import "../../variables-and-mixins";

.home-component {
  height: 100vh;
  display: flex;

  > .clp-sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 190px;
    background-color: #24282f;
    transition: width .1s;

    .brand-section {
      background-color: #212429;
      display: flex;
      height: 50px;
      font-size: 14px;
      color: #fff;
      justify-content: space-evenly;
      align-items: center;

      span {
        margin: 0 10px;
      }
    }
    .user-info {
      font-size: 14px;
      color: #FFF;
      margin: 24px 0 120px;

      .material-icons {
        vertical-align: bottom;
        font-size: 26px;
        margin: 0 -3px;
      }
      .dropdown-toggle {
        padding: 5px 0;
        margin: 0 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .navigation-tabs {
      flex: 1;
    }
    footer {
      cursor: pointer;
      display: flex;
      padding: 0 20px;
      height: 40px;
      font-size: 14px;
      color: #d6d6d6;
      border-top: 1px solid #676a6f;
      align-items: center;
      user-select: none;

      .collapse-icon {
        color: #c0c0c0;
        font-size: 22px;
        transform: rotate(180deg);
      }
      span {
        margin: 0 10px;
      }
    }
    &.-collapsed {
      width: 67px;
      footer .collapse-icon {
        transform: rotate(0deg);
      }
    }
  }
  > section {
    flex: 1;
    height: 100%;
  }
}
